@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-rendering-optimizeLegibility font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .text-rendering-optimizeLegibility {
    text-rendering: optimizeLegibility;
  }
}
